# Requirements for runtime only.
addict
click
coloredlogs
importlib-metadata
jupyterlab==3.0.16
kafka-python
mpi4py
numpy
opencv-python-headless
Pillow
prettytable
pydantic
pydantic-settings
pynvml
setuptools-scm
tabulate
tensorboard
torch
torch_tb_profiler
torchvision
tqdm
#tvm
#triton
# so-arm101 motor driver
feetech-servo-sdk>=1.0.0
deepdiff
pandas==2.3.2; platform_machine == "arm64" or platform_machine == "aarch64"
h5py
msgpack
fastapi
types-requests
